@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deneme</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
</head>
<body>
     <p> Sea</p>
    <a class="btn btn-succes s" href="" > Click</a>
</body>
</html>
